.label {
  cursor: pointer;
}

.progress {
  display: none;
  margin-bottom: 1rem;
}

.alert {
  display: none;
}

.img-container img {
  max-width: 100%;
}

#result {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2rem 0;
}

canvas {
  height: 10rem;
}

a {
  text-decoration: underline;
}
